# Виртуальные среды
.venv/
venv/

# Файлы конфигурации IDE
.idea/
.vscode/

# Логи и временные файлы
*.log
*.tmp
*.swp

# __pycache__ и файлы кэша
__pycache__/
*.py[cod]

# Бинарные файлы
*.so
*.pyd

# Секретные данные
.env
